data/*
.env
.env.*
__pycache__/
*.session
*.session-journal
test.py
errors.txt
test-results/
google_drive/credentials/credentials.json
google_drive/credentials/refresh_token.txt
firebase-adminsdk.json
firebase-adminsdk.test.json